In [1]:
import pandas as pd

dataFile = "data2172.csv"

data = pd.read_csv(dataFile)

In [2]:
data

,drawId,winningNumbers,joker,winners,jackpot,distributed,columns
0,1,"[32, 4, 29, 7, 16]",16,1,4311968.28,18916978.16,0
1,2,"[27, 35, 19, 4, 5]",5,0,0.00,39542706.08,0
2,3,"[13, 40, 17, 12, 36]",2,0,39542706.08,29768138.12,0
3,4,"[12, 40, 28, 27, 18]",2,0,26361171.24,16826241.12,0
4,5,"[37, 29, 8, 40, 28]",11,0,237739.40,26639833.16,0
...,...,...,...,...,...,...,...
2167,2168,"[18, 29, 4, 35, 27]",20,0,1232708.62,388164.86,3117790
2168,2169,"[1, 33, 13, 3, 27]",11,0,1620873.48,324315.40,2604943
2169,2170,"[5, 25, 38, 41, 23]",11,0,1945188.88,401055.59,3221330
2170,2171,"[34, 4, 20, 26, 7]",16,0,2346244.46,553039.58,4442085
2171,2172,"[11, 18, 26, 4, 1]",20,0,2899284.04,410587.93,3297895

In [3]:
print("Mean number of winners", data["winners"].mean())

Mean number of winners 0.27716390423572745

In [24]:
print("Mean number of expected winners", (data[data['columns'] > 0]['columns'] / 24435180).mean())
print("Mean number of real winners over the same period", data[data['columns'] > 0]["winners"].mean())

Mean number of expected winners 0.22636940578842304
Mean number of real winners over the same period 0.24311926605504589

In [4]:
maxId = data['winners'].idxmax()
print("Biggest number of winners", data.loc[maxId, 'winners'], "at drawId:", data.loc[maxId, 'drawId'])

Biggest number of winners 10 at drawId: 512

In [14]:
# from drawId 210 and then the money are in euros
inEuros = data["drawId"] >= 210
winnings = data["jackpot"] + data["distributed"]
maxId = winnings[inEuros].idxmax()
print("Biggest pool money in euros", winnings[maxId], "at drawId:", data.loc[maxId, 'drawId'], "with",
      data.loc[maxId, 'winners'], "winners")

Biggest pool money in euros 19278990.85 at drawId: 1071 with 3 winners

In [15]:
haveWinner = data["winners"] > 0
maxId = winnings[inEuros][haveWinner].idxmax()
print("Biggest winning money", winnings[haveWinner][maxId], "at drawId:", data.loc[maxId, 'drawId'], "with",
      data.loc[maxId, 'winners'], "winners")

Biggest winning money 19278990.85 at drawId: 1071 with 3 winners